<div class="modal fade" id="item_edite">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Editar tarefa</h4>
            </div>
            <form method="post">{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="cod_item" class="control-label">Código</label>
                                <input type="text" class="form-control cod_item" name="cod_item" id="cod_item" readonly>                            
                            </div>
                            <div class="col-md-7">
                                <label for="nm_item" class="control-label">Nome</label>
                                <input type="text" class="form-control" id="nm_item" name="nm_item" required text-transform="">
                            </div>
                            <div class="col-md-3">
                                <label for="sn_feito" class="control-label">Feito</label>
                                <select name="sn_feito" class="form-control" id="sn_feito">
                                    <option value="1">Sim</option>
                                    <option value="2">Não</option>
                                </select>                           
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="descricao" class="control-label">Descrição</label>
                                <textarea type="text" rows="3" class="form-control" id="descricao" name="descricao"></textarea>
                            </div>
                        </div>
                    </div>          
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" name="btn_modal_grupo_edite">Salvar</button>
                </div>
            </form>                
        </div>
    </div>
</div>
